body{
    margin: 0px;
    font-family:sans-serif;
    background: rgba(188, 191, 191, 0.62);
}
img{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 30px;
    right: 5px;
}
hr{
    width: 5000px;

}
.left{
    float: left;
    clear: right;
/*    position: relative;*/
    width: 20%;
    border-right: 2px solid black;
    height: 90px;
    display: inline-block
}

.right{
    float:right;
    position: relative;
    width: 80%;
    display: inline-block
}
